.aboutus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.carte{
  width: 60%;
  height: 600px;
}
.brésil {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  
}

.brésil img {
  width: 60%;
  height: 600px;
  object-fit: cover;
}