@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FDFBF6 ;
}


.gallery h3 {
    font-size: 4rem;
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    padding-right:5%;
    text-align: center;
}

.gallery1 {
    display: flex;
    justify-content: flex-start;
}

